<section class="container-fluid">

  <div class="row align-items-center justify-content-center mb-5">
    <div class="col-md-11 p-5 border border-light-subtle rounded bg-white shadow">

      <div class="row justify-content-center">
        <h1 class="col-12 fs-2 text-center">Help Desk Angular & Java</h1>
      </div>

      <div class="row justify-content-center">
        <img class="col-12 img-fluid" src="assets/images/20945385.jpg" alt="Ilustração de dois avatares representando suporte técnico.">
      </div>

      <div class="row text-center fs-5">
        <p>
          Olá, seja bem-vindo <b>{{getUserName()}}</b>!
        </p>
        <p>
          O Help Desk Angular & Java é uma aplicação criada para gerenciar a criação e atribuição de chamados. Além de possibilatr a criação, exclusão e atualização de usuários com diferentes perfis, como: técnico, cliente e administrador. Os clientes podem abrir chamados para os técnicos e os administradores conseguem inativar tecnicos e clientes.
        </p>
        <p>
          Este projeto foi desenvolvido com as tecnologias: <span class="fw-medium">Angular, Typescript, Bootstrap, Sass, Java, Spring Boot, MySQL, Docker e Flyway</span>.
        </p>
      </div>
    </div>
  </div>

</section>
