<section>
  <app-filter-bar>
    <mat-form-field appearance="fill" class="col-12 col-sm-6 col-lg-3">
      <mat-label>Cliente</mat-label>
      <mat-select [(ngModel)]="customerFilter" name="customerFilter" (valueChange)="handleSelectFilter({customer: $event})">
        <mat-option>Limpar filtro</mat-option>
        <mat-option *ngIf="loggedUserService.isCustomer()" [value]="loggedUserService.getUserId()">Meu usuário</mat-option>
        <mat-option *ngFor="let customerOption of customerOptions" [value]="customerOption.id">{{customerOption.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="col-12 col-sm-6 col-lg-3">
      <mat-label>Técnico</mat-label>
      <mat-select [(ngModel)]="technicalFilter" name="technicalFilter" (valueChange)="handleSelectFilter({technical: $event})">
        <mat-option>Limpar filtro</mat-option>
        <mat-option *ngIf="loggedUserService.isTechnical()" [value]="loggedUserService.getUserId()">Meu usuário</mat-option>
        <mat-option *ngFor="let technicalOption of technicalOptions" [value]="technicalOption.id">{{technicalOption.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="col-12 col-sm-6 col-lg-3">
      <mat-label>Status</mat-label>
      <mat-select [(ngModel)]="statusFilter" name="statusFilter" (valueChange)="handleSelectFilter({status: $event})">
        <mat-option>Limpar filtro</mat-option>
        <mat-option [value]="ticketStatusEnum.NEW_TICKET">{{ticketStatusEnum.NEW_TICKET}}</mat-option>
        <mat-option [value]="ticketStatusEnum.PENDING">{{ticketStatusEnum.PENDING}}</mat-option>
        <mat-option [value]="ticketStatusEnum.IN_PROGRESS">{{ticketStatusEnum.IN_PROGRESS}}</mat-option>
        <mat-option [value]="ticketStatusEnum.RESOLVED">{{ticketStatusEnum.RESOLVED}}</mat-option>
        <mat-option [value]="ticketStatusEnum.CANCELED">{{ticketStatusEnum.CANCELED}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="col-12 col-sm-6 col-lg-3">
      <mat-label>Prioridade</mat-label>
      <mat-select [(ngModel)]="priorityFilter" name="priorityFilter" (valueChange)="handleSelectFilter({priority: $event})">
        <mat-option>Limpar filtro</mat-option>
        <mat-option *ngFor="let priorityOption of priorityOptions" [value]="priorityOption.id">{{priorityOption.title}}</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- <div>
      <button class="btn btn-success border" (click)="exportAllTicketsToExcel()">Exportar Excel</button>
    </div> -->
  </app-filter-bar>

  <div class="row mt-4">
    <div class="col-12 table-container rounded shadow p-0">
      <!-- Tabela -->
      <mat-table [dataSource]="matTableDataSource" matSort class="mat-elevation-z8 w-100" >

        <!-- Code Column -->
        <ng-container matColumnDef="code">
          <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by code"> Código </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.code}} </mat-cell>
        </ng-container>

        <!-- Title Column -->
        <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> Titulo </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
        </ng-container>

        <!-- Customer Column -->
        <ng-container matColumnDef="customer">
          <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> Cliente </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <app-user-profile-button
              [id]="element.customer.id"
              [userName]="element.customer.name"
              [userRole]="element.customer.role.title"
              [profilePicture]="element.customer.profilePicture">
            </app-user-profile-button>
          </mat-cell>
        </ng-container>

        <!-- technical Column -->
        <ng-container matColumnDef="technical">
          <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> Técnico </mat-header-cell>
          <mat-cell *matCellDef="let element">

            <app-user-profile-button
              *ngIf="element.technical; else templateName"
              [id]="element.technical.id"
              [userName]="element.technical.name"
              [userRole]="element.technical.role.title"
              [profilePicture]="element.technical.profilePicture">
            </app-user-profile-button>

            <ng-template #templateName>
              <span class="fst-italic">
                Nenhum técnico atribuído
              </span>
            </ng-template>

          </mat-cell>
        </ng-container>

        <!-- Open Date Column -->
        <ng-container matColumnDef="openDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> Data de Abertura </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.openingDate | date:'dd/MM/yyyy hh:mm'}} </mat-cell>
        </ng-container>

        <!-- Priority Column -->
        <ng-container matColumnDef="priority">
          <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> Prioridade </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="rounded-pill py-1 px-3" [ngClass]="definePriorityColor(element.priority.title)">{{element.priority.title}}</span>
          </mat-cell>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> Status </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="rounded-pill py-1 px-3 text-center" [ngClass]="defineStatusColor(element.ticketStatus)">{{element.ticketStatus}}</span>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openTicketDetails(row)"></mat-row>

      </mat-table>

      <mat-paginator
        [pageSizeOptions]="pageSizeOptions"
        [pageSize]="initialPageSize"
        [length]="ticketsTotalLength"
        [showFirstLastButtons]="true"
        (page)="getTicketsPaginated($event)"
        aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
  </div>

</section>
