.table-container{
  overflow-x: auto;
  height: 100%;

  mat-table, mat-paginator{
    min-width: 800px;
  }
}

:host::ng-deep mat-form-field {
  .mat-mdc-text-field-wrapper{
    border-radius: var(--bs-border-radius);
  }

  .mat-mdc-form-field-subscript-wrapper {
    height: 0;
  }
}

.mat-mdc-table {
  width: 100%;
  min-height: 84%;
  max-height: 84%;
  overflow: auto;
}

:host::ng-deep mat-paginator .mat-mdc-paginator-container{
  justify-content: center;
}

mat-row{
  cursor: pointer;

  &:hover {
    mat-cell{
      background-color: var(--bs-light);
    }
  }

}

