<section class="container-fluid">

  <div class="row mb-5 justify-content-end" *ngIf="userIsAdmin()">
    <div class="col-auto">
      <a routerLink="formulario" class="btn btn-primary shadow">Cadastrar Técnico</a>
    </div>
  </div>

  <div class="row align-items-center justify-content-center gap-5">

    <mat-card  class="col-12 col-sm-9 col-md-5 col-xxl-3 h-100 py-4 gap-4 rounded shadow" *ngFor="let technical of $technicians | async">
      <mat-card-header class="align-items-center justify-content-center">
        <div>
          <img class="rounded-circle object-fit-cover" width="180px" height="180px" [src]="technical.profilePicture" alt="Foto de perfil do técnico">
          <mat-card-title class="text-center">
            <b>{{technical.name}}</b>
          </mat-card-title>
          <mat-card-subtitle class="w-50 p-1 m-auto badge rounded-pill" [ngClass]="{'text-bg-success': technical.userStatus == userStatusEnum.ACTIVE, 'text-bg-danger': technical.userStatus == userStatusEnum.INACTIVE}">
            {{technical.userStatus}}
          </mat-card-subtitle>
        </div>
      </mat-card-header>

      <mat-card-content>
        <h3 class="text-center">
          Chamados:
        </h3>

        <div class="d-flex align-items-center justify-content-evenly">
          <div class="fs-5 text-center">
            <b>{{technical.ticketsPending}}</b>
            <h5>Abertos</h5>
          </div>

          <div class="fs-5 text-center ">
            <b>{{technical.ticketsInProgress}}</b>
            <h5>Em Progresso</h5>
          </div>

          <div class="fs-5 text-center">
            <b>{{technical.ticketsResolved}}</b>
            <h5>Resolvidos</h5>
          </div>
        </div>
      </mat-card-content>

      <mat-card-actions>
        <button class="w-75 mx-auto btn btn-primary rounded-pill" (click)="openTechnicalDetails(technical)">Detallhes</button>
      </mat-card-actions>
    </mat-card>

  </div>

  <div *ngIf="!finishedPages && !isFetchingData" class="row justify-content-center mt-5">
    <button class="w-auto btn btn-outline-primary" (click)="getTechniciansPaginated()">Carregar mais</button>
  </div>

  <div *ngIf="isFetchingData" class="row justify-content-center mt-5">
    <mat-spinner class="p-0"></mat-spinner>
  </div>

  <div *ngIf="finishedPages" class="row mt-5">
    <span class="fs-6 text-center">
      <i>Sem mais resultados.</i>
    </span>
  </div>


</section>
