<section class="container-fluid min-vh-100 d-flex align-items-center bg-body-tertiary">
  <div class="row py-4 py-lg-0 justify-content-center">
    <div class="col-11 col-sm-10 col-md-9 col-lg-11 col-xl-10 col-xxl-8 p-4 p-lg-5 bg-white border border-light-subtle rounded shadow">

      <header class="row">
        <div class="col-auto ps-4">
          <h1 class="m-0 fs-4 fw-normal">Help Desk</h1>
          <h2 class="m-0 fs-6 fw-normal">Angular & Java</h2>
        </div>
      </header>

      <div class="row">
        <div class="col-12 col-lg-6">
          <form class="h-100 d-flex flex-column justify-content-center" [formGroup]="registerForm" (submit)="register($event)">
            <div class="row my-4">
              <div class="text-center text-lg-start">
                <h2 class="fs-2 mb-2">Cadastro de usuário</h2>
                <h4 class="fs-6 fw-light">Selecione um perfil e cadastre um usuário para ter acesso à plataforma!</h4>
              </div>
            </div>

            <!-- Campo de Seleção de Perfil -->
            <div class="row mb-3 justify-content-center justify-content-lg-start">
              <label class="ms-2 fs-5">Selecione um perfil:</label>
              <mat-radio-group required (change)="handleUserProfileChange($event)">
                <mat-radio-button value="customer">
                  Cliente
                </mat-radio-button>
                <mat-radio-button value="technical">
                  Técnico
                </mat-radio-button>
              </mat-radio-group>
              <mat-error *ngIf="showUserProfileError">O preenchimento do campo "Perfil" é
                <b>obrigatório!</b></mat-error>
            </div>

            <!-- Campo de Nome -->
            <div class="row mb-3 justify-content-center justify-content-lg-start">
              <mat-form-field class="col-12 col-md-10">
                <mat-label>Nome</mat-label>
                <input type="text" matInput formControlName="name">
                <mat-error *ngIf="showControlError('name', 'required')">O preenchimento do campo "Nome" é
                  <b>obrigatório!</b></mat-error>
              </mat-form-field>
            </div>

            <!-- Campo de E-mail -->
            <div class="row mb-3 justify-content-center justify-content-lg-start">
              <mat-form-field class="col-12 col-md-10">
                <mat-label>E-mail</mat-label>
                <input matInput placeholder="exemplo@email.com" formControlName="email">
                <mat-error *ngIf="showControlError('email', 'email')">O e-mail não esta em um formato
                  válido!</mat-error>
                <mat-error *ngIf="showControlError('email', 'required')">O preenchimento do e-mail é
                  obrigatório!</mat-error>
              </mat-form-field>
            </div>

            <!-- Campo de Senha -->
            <div class="row mb-3 justify-content-center justify-content-lg-start">
              <mat-form-field class="col-12 col-md-10">
                <mat-label>Senha</mat-label>
                <input matInput [type]="hidePasswordText ? 'password' : 'text'" formControlName="password">
                <button class="border-0 bg-transparent me-3" mat-icon-button matSuffix
                  (click)="hidePasswordText = !hidePasswordText" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hidePasswordText">
                  <mat-icon>{{hidePasswordText ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="showControlError('password', 'required')">O preenchimento da senha é
                  obrigatório!</mat-error>
              </mat-form-field>
            </div>

            <!-- Campo de Telefone -->
            <div class="row mb-3 justify-content-center justify-content-lg-start">
              <mat-form-field class="col-12 col-md-10">
                <mat-label>Telefone</mat-label>
                <input type="tel" matInput formControlName="phoneNumber" />
                <mat-error *ngIf="showControlError('phoneNumber', 'required')">O preenchimento do campo "Telefone" é
                  <b>obrigatório!</b></mat-error>
              </mat-form-field>
            </div>

            <!-- Data de Nascimento -->
            <div class="row mb-3 justify-content-center justify-content-lg-start" *ngIf="isTechnicalProfile()">
              <mat-form-field class="col-12 col-sm-10 col-lg-9">
                <mat-label>Data de Nascimento</mat-label>
                <input matInput [matDatepicker]="datePicker" formControlName="dateBirth">
                <mat-datepicker-toggle matIconSuffix [for]="datePicker"></mat-datepicker-toggle>
                <mat-datepicker #datePicker></mat-datepicker>
                <mat-error *ngIf="showControlError('dateBirth', 'required')">O preenchimento do campo "Data de
                  Nascimento" é <b>obrigatório!</b></mat-error>
              </mat-form-field>
            </div>

            <!-- Campo de CNPJ -->
            <div class="row mb-3 justify-content-center justify-content-lg-start" *ngIf="isCustomerProfile()">
              <mat-form-field class="col-12 col-md-10">
                <mat-label>CNPJ</mat-label>
                <input matInput placeholder="" formControlName="cnpj">
                <mat-error *ngIf="showControlError('cnpj', 'required')">O preenchimento do campo "CNPJ" é <b>obrigatório!</b></mat-error>
              </mat-form-field>
            </div>

            <div class="row justify-content-center justify-content-lg-start">
              <div class="col-12 col-md-10">
                <button class="w-100 btn btn-primary rounded-pill" type="submit">Cadastrar</button>
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-12 col-md-10 text-center">
                <span>Já possui uma conta? <a routerLink="/login">faça login!</a></span>
              </div>
            </div>

          </form>
        </div>

        <div class="col-12 col-lg-6 d-flex align-items-center">
          <img src="assets/images/Mobile login-amico.png"
            alt="Ilustração de dois avatares, um masculino e outro feminino, segurando icones que remetem à login em frente à um computador gigante."
            class="img-fluid">
        </div>
      </div>

      <footer class="row mt-5">
        <h5 class="text-center">
          Copyright &copy; <time>{{currentYear}}</time> Gabriel Marreiros - Todos os direitos reservados.
        </h5>
      </footer>

    </div>

  </div>
</section>
