<section class="container-fluid">

  <div class="row mb-4 justify-content-end" *ngIf="userIsAdmin()">
    <div class="col-auto">
      <a routerLink="formulario" class="btn btn-primary shadow">Cadastrar Cliente</a>
    </div>
  </div>

  <app-filter-bar>
    <mat-form-field appearance="fill" class="col-12 col-sm-6 col-lg-3">
      <mat-label>Status</mat-label>
      <mat-select [(ngModel)]="statusFilter" name="statusFilter" (valueChange)="handleSelectFilter({status: $event})">
        <mat-option>Limpar filtro</mat-option>
        <mat-option [value]="userStatusEnum.ACTIVE">{{userStatusEnum.ACTIVE}}</mat-option>
        <mat-option [value]="userStatusEnum.INACTIVE">{{userStatusEnum.INACTIVE}}</mat-option>
      </mat-select>
    </mat-form-field>
  </app-filter-bar>

  <div class="row align-items-center justify-content-center gap-5 mt-5">
      <mat-card class="col-11 col-sm-9 col-md-5 col-lg-8 col-xl-5 col-xxl-3 h-100 p-3 flex-row align-items-center gap-3 rounded shadow" *ngFor="let customer of customers$ | async">
        <!-- Imagem de perfil -->
        <div>
          <img class="rounded object-fit-cover" width="170px" height="170px" [src]="customer.profilePicture" alt="Foto de perfil do cliente">
        </div>

        <mat-card-content class="h-100 w-100 p-0 d-flex flex-column gap-3">
          <h2 class="m-0">
            <b>{{customer.name}}</b>
          </h2>

          <div>
            <div>
              <h3 class="m-0">
                Status:
                <span class="badge rounded-pill" [ngClass]="{'Ativo' : 'text-bg-success', 'Inativo' : 'text-bg-danger'}[customer.userStatus]">{{customer.userStatus}}</span>
              </h3>
            </div>

            <div>
              <h3 class="m-0">
                CNPJ:
                {{customer.cnpj}}
              </h3>
            </div>
          </div>

          <mat-card-actions class="p-0">
            <button class="w-100 btn btn-primary rounded-pill" (click)="openCustomerDetails(customer)">Detalhes</button>
          </mat-card-actions>
        </mat-card-content>

      </mat-card>
  </div>

  <div *ngIf="!finishedPages && !isFetchingData" class="row justify-content-center mt-5">
    <button class="w-auto btn btn-outline-primary" (click)="getCustomersPaginated()">Carregar mais</button>
  </div>

  <div *ngIf="isFetchingData" class="row justify-content-center mt-5">
    <mat-spinner class="p-0"></mat-spinner>
  </div>

  <div *ngIf="finishedPages" class="row mt-5">
    <span class="fs-6 text-center">
      <i>Sem mais resultados.</i>
    </span>
  </div>

</section>
